<% title "Blog - Contatos" %>
  <h1 class="my-4">Blog contact</h1>
  <form>
    <fieldset class="form-group">
      <label for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </fieldset>
  </form>